body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', 'cursive';
    font-size: 20px;
}

.wrapper {
    margin: 15px auto;
    border-radius: 20px;
    background-color: rgb(207, 207, 207);
    width: 300px;
    padding: 15px 25px;
    align-items: center;
    align-content: center;

}

.icon img {

    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid rgb(128, 128, 128);
    cursor: pointer;
}

.phone img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.phone img:active {
    transform: scale(.2);
    transition-duration: .5s;
}

.container {
    display: flex;
    justify-content: space-between;
}

.contacts_wrapper {
    max-width: 300px;
    margin: auto;

}

.info {
    margin-left: 10px;
}

.main_info {
    display: flex;
    justify-content: first baseline;
}

.contact {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    color: #2b2b2b;
}

input {
    margin: 25px 50px;
    width: 200px;
    border: none;
    border-radius: 20px;
    padding: 2px 5px;
    background: #3f3f3f;
    outline: none;
    height: 30px;
    color: #cccccc;
    font-size: 22px;
    font-family: 'Caveat', 'cursive';
    box-shadow:0 0 15px 0px rgba(51, 74, 95, 0.658);


}

input[placeholder]{
text-align: center;
}